@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h1: 4rem;
  --h2: 3.5rem;
  --h3: 3rem;
  --h4: 2rem;
  --h5: 1.6rem;
  --h6: 1.3rem;
  --p: 1.1rem;
  --a: 1rem;

  --primary: #037afe;
  --secondary: #6a747d;
  --success: #27a745;
  --danger: #dc3544;
  --warning: #ffc107;
  --info: #15a5b9;

  --dark: #435057;

  --bg_inputs: #f1f2f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-size: var(--p);
}

label {
  font-size: var(--p);
}

button {
  overflow: none;
}

h1 {
  font-size: var(--h1);
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: var(--h2);
  font-family: "Inter", sans-serif;
}

h3 {
  font-size: var(--h3);
  font-family: "Inter", sans-serif;
}

h4 {
  font-size: var(--h4);
  font-family: "Source Sans Pro", sans-serif;
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

p {
  font-size: var(--p);
  font-family: "Source Sans Pro", sans-serif;
}

a {
  font-size: var(--a);
}
